<h2>Work</h2>
<form action="/work" method="post">
	<input class="form-control" name="header" value="<%= @work.header %>" />
	<textarea class="form-control" name="content"><%= @work.content %></textarea>
	<br />
	<button type="submit">Submit</button>
</form>

<h2>About</h2>
<form action="/about" method="post">
	<input class="form-control" name="header" value="<%= @about.header %>" />
	<textarea class="form-control" name="content"><%= @about.content %></textarea>
	<br />
	<button type="submit">Submit</button>
</form>

<h2>Pieces</h2>
<table>
	<tr>
		<td>Title</td>
		<td>Subtitle</td>
		<td>Actions</td>
		<td>Visibility</td>
	</tr>
<% @pieces.each do |p| %>
	<tr>
		<td><%= p.title %></td>
		<td><%= p.subtitle %></td>
		<td><a href="/admin/edit/<%= p.id %>">edit</a></td>
		<td><%= p.visible == 1 ? 'visible' : 'invisible' %></td>
	</tr>
<% end %>
</table>

